## Build results
bin/
obj/
out/
publish/

## Installer output
installer/*.exe

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
packages/
*.nupkg

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
